ScrabbleTemplate/ScrabbleBot/bin/Debug/net7.0/ScrabbleBot.dll
ScrabbleTemplate/ScrabbleBot/bin/Debug/net7.0/ScrabbleBot.pdb
ScrabbleTemplate/ScrabbleBot/obj/project.assets.json
ScrabbleTemplate/ScrabbleBot/obj/project.nuget.cache
ScrabbleTemplate/ScrabbleBot/obj/ScrabbleBot.fsproj.nuget.dgspec.json
ScrabbleTemplate/ScrabbleBot/bin/Debug/net7.0/ScrabbleBot.dll
ScrabbleTemplate/ScrabbleBot/bin/Debug/net7.0/ScrabbleBot.pdb
ScrabbleTemplate/ScrabbleBot/obj/project.assets.json
ScrabbleTemplate/ScrabbleBot/obj/project.nuget.cache
ScrabbleTemplate/ScrabbleBot/obj/ScrabbleBot.fsproj.nuget.dgspec.json
ScrabbleTemplate/ScrabbleBot/obj/ScrabbleBot.fsproj.nuget.g.props
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/ScrabbleBot.AssemblyInfo.fs
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/ScrabbleBot.AssemblyInfoInputs.cache
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/ScrabbleBot.assets.cache
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/ScrabbleBot.dll
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/ScrabbleBot.fsproj.AssemblyReference.cache
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/ScrabbleBot.fsproj.CoreCompileInputs.cache
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/ScrabbleBot.fsproj.FileListAbsolute.txt
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/ScrabbleBot.pdb
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/ScrabbleBot.sourcelink.json
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/ref/ScrabbleBot.dll
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/refint/ScrabbleBot.dll
ScrabbleTemplate/ScrabbleTemplate/bin/Debug/net7.0/ScrabbleBot.dll
ScrabbleTemplate/ScrabbleTemplate/bin/Debug/net7.0/ScrabbleBot.pdb
ScrabbleTemplate/ScrabbleTemplate/bin/Debug/net7.0/ScrabbleTemplate
ScrabbleTemplate/ScrabbleTemplate/bin/Debug/net7.0/ScrabbleTemplate.dll
ScrabbleTemplate/ScrabbleTemplate/bin/Debug/net7.0/ScrabbleTemplate.pdb
ScrabbleTemplate/ScrabbleTemplate/obj/project.assets.json
ScrabbleTemplate/ScrabbleTemplate/obj/project.nuget.cache
ScrabbleTemplate/ScrabbleTemplate/obj/ScrabbleTemplate.fsproj.nuget.dgspec.json
ScrabbleTemplate/ScrabbleTemplate/obj/ScrabbleTemplate.fsproj.nuget.g.props
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/apphost
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/Scrabble.4C101693.Up2Date
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ScrabbleTemplate.AssemblyInfo.fs
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ScrabbleTemplate.AssemblyInfoInputs.cache
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ScrabbleTemplate.assets.cache
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ScrabbleTemplate.dll
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ScrabbleTemplate.fsproj.AssemblyReference.cache
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ScrabbleTemplate.fsproj.CoreCompileInputs.cache
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ScrabbleTemplate.fsproj.FileListAbsolute.txt
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ScrabbleTemplate.genruntimeconfig.cache
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ScrabbleTemplate.pdb
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ScrabbleTemplate.sourcelink.json
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ref/ScrabbleTemplate.dll
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/refint/ScrabbleTemplate.dll
ScrabbleTemplate/ScrabbleBot/bin/Debug/net7.0/ScrabbleBot.dll
ScrabbleTemplate/ScrabbleBot/bin/Debug/net7.0/ScrabbleBot.pdb
ScrabbleTemplate/ScrabbleBot/obj/project.assets.json
ScrabbleTemplate/ScrabbleBot/obj/project.nuget.cache
ScrabbleTemplate/ScrabbleBot/obj/ScrabbleBot.fsproj.nuget.dgspec.json
ScrabbleTemplate/ScrabbleBot/obj/ScrabbleBot.fsproj.nuget.g.props
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/ScrabbleBot.AssemblyInfo.fs
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/ScrabbleBot.AssemblyInfoInputs.cache
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/ScrabbleBot.assets.cache
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/ScrabbleBot.dll
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/ScrabbleBot.fsproj.AssemblyReference.cache
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/ScrabbleBot.fsproj.CoreCompileInputs.cache
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/ScrabbleBot.fsproj.FileListAbsolute.txt
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/ScrabbleBot.pdb
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/ref/ScrabbleBot.dll
ScrabbleTemplate/ScrabbleBot/obj/Debug/net7.0/refint/ScrabbleBot.dll
ScrabbleTemplate/ScrabbleTemplate/bin/Debug/net7.0/ScrabbleBot.dll
ScrabbleTemplate/ScrabbleTemplate/bin/Debug/net7.0/ScrabbleBot.pdb
ScrabbleTemplate/ScrabbleTemplate/bin/Debug/net7.0/ScrabbleTemplate
ScrabbleTemplate/ScrabbleTemplate/bin/Debug/net7.0/ScrabbleTemplate.dll
ScrabbleTemplate/ScrabbleTemplate/bin/Debug/net7.0/ScrabbleTemplate.pdb
ScrabbleTemplate/ScrabbleTemplate/obj/project.assets.json
ScrabbleTemplate/ScrabbleTemplate/obj/project.nuget.cache
ScrabbleTemplate/ScrabbleTemplate/obj/ScrabbleTemplate.fsproj.nuget.dgspec.json
ScrabbleTemplate/ScrabbleTemplate/obj/ScrabbleTemplate.fsproj.nuget.g.props
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/apphost
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ScrabbleTemplate.AssemblyInfo.fs
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ScrabbleTemplate.AssemblyInfoInputs.cache
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ScrabbleTemplate.assets.cache
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ScrabbleTemplate.dll
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ScrabbleTemplate.fsproj.AssemblyReference.cache
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ScrabbleTemplate.fsproj.CoreCompileInputs.cache
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ScrabbleTemplate.fsproj.FileListAbsolute.txt
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ScrabbleTemplate.genruntimeconfig.cache
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ScrabbleTemplate.pdb
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/ref/ScrabbleTemplate.dll
ScrabbleTemplate/ScrabbleTemplate/obj/Debug/net7.0/refint/ScrabbleTemplate.dll
ScrabbleTemplate.dll